body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 80%;
    margin: 0 auto;
    /* This centers the section horizontally */
}


h2 {
    color: #776C5B;
    font-size: 20px;
}

.chart-container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
    /* Adjust the shadow color and size as needed */
}

.chart-container h2 {
    margin-top: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scorecard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

.scorecard {
    width: 240px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    perspective: 1000px;
    transition: transform 0.5s;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
    /* Adjust the shadow color and size as needed */
}

.scorecard-label {
    font-weight: bold;
}

.score {
    font-size: 35px;
    color: #776C5B;
    margin-top: 5px;
}

.scorecard-flip {
    transform: rotateY(360deg);
}

.scorecard:hover {
    transform: rotateY(360deg);
}

.chart-container#topsubscriber h2 {
    text-align: center;
    font-size: 25px;

}

.dropdown-label,
.dropdown-select {
    width: 150px;
    height: 30px;
    display: inline-block;
}


#topSubscribedChart {
    border: #776C5B 1px;
    text-align: center;

}

input[type="radio"] {
    display: inline;
    margin-right: 5px;
}

#pivotDropdownChart {
    background-color: #D1BE9F;
}


input[type="dropdown"] {
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.dropdown-container {
    margin-top: 10px;
    position: relative;
    display: block;
    margin: 10px 0;
}

#countryDropdownpivotDropdownChart {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.heatmap-cell {
    width: 20px;
    height: 20px;
    transition: background-color 0.3s;
}

/* Linechart */
#linechart {
    border: 2px solid #ccc;
    /* Set border style, color, and width */
    border-radius: 10px;
    /* Set border radius for rounded corners */
}

/* This is brush for linear chart*/
.brush rect.extent {
    fill: #FC9765;
    fill-opacity: 0.3;
}

/* legend for linechart */
.legend text {
    font-size: 12px;
    /* Adjust the font size as needed */
}

.legend {
    font-size: 12px;
}

.legend rect {
    width: 12px;
    height: 12px;
    fill-opacity: 0.7;
}

.tooltipstacked {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
  }

/* stackedchart */
#stackedchart {
    border: 2px solid #ccc;
    /* Set border style, color, and width */
    border-radius: 10px;
    /* Set border radius for rounded corners */
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 18px;
}


   /* Style the bars */
   .bar {
    fill: #FFBC58;
}

.highlight {
    fill: lightgray;
    stroke-width: 2px;
}

/* Style the axis */
.axis text {
    font-size: 12px;
}



img {
    max-width: 50%;
    height: auto;
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Modify styles for medium screens here */
    /* Update other styles as needed */


}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
    /* Modify styles for large screens here */
    /* Update other styles as needed */


    section {
        width: 80%;
        margin: 0 auto;
        /* This centers the section horizontally */
    }


    h2 {
        font-size: 20px;
    }


    .chart-container {
        width: 45%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: #776C5B 1px;
        border-radius: 0.5;
    }

    #pieChartContainer,
    #scatterPlotContainer {
        text-align: center;
    }


    .chart-container h2 {
        margin-top: 0;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .dropdown-container {
        position: relative;
    }

    #countryDropdownpivotDropdownChart {
        position: absolute;
        top: 0;
        right: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .heatmap-cell {
        width: 20px;
        height: 20px;
        transition: background-color 0.3s;
    }

    img {
        max-width: 300px;
        height: auto;
    }

}