
/* Header Styles */
header {
    background-color: #FFBD59;
    color: #332C21;
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

#branding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    max-width: 20%; /* Ensure the logo does not exceed its container */
    background-color: #FFF;
}

#company-name {
    margin-top: 10px; /* Adjust spacing between logo and company name */
    font-size: 1.5em; /* Adjust font size as needed */
    font-family: 'Carter One';
}

#header-nav {
    margin-top: 10px; /* Adjust spacing between company name and navigation */
}

#header-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#header-nav li {
    margin: 0 15px; /* Adjust spacing between navigation items */
}

#header-nav a {
    text-decoration: none;
    color: #332C21;
    font-weight: bold;
    font-size: 1.25rem;
    transition: color 0.3s;
}

@media only screen and (min-width: 1025px) {
    /* Modify styles for large screens here */
    /* Update other styles as needed */
   

header {
    padding: 10px 20px;
}

#header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#branding {
    align-items: verticaly;
}

#logo {
    border-radius: 10%;
   
}

#company-name {
    font-weight: bold;
    font-size: 1.8rem;
    color: #332C21;
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-family: 'Carter One';
}

#header-nav ul {
    list-style: none;
    padding: 0;


}

#header-nav li {
    margin: 0 30px;
    display: inline;
}

#header-nav a {
    text-decoration: none;
    color: #332C21;
    font-weight: bold;
    font-size: 1.25rem;
    transition: color 0.3s;
    
}

#header-nav a:hover {
    color: #CCA770;
}
}